<!DOCTYPE html>
<html>
<head>
  <title>EventbriteClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to Eventbrite Mini</h1>
<%= link_to 'Home', root_path %>
<%= link_to 'My Profile', person_path(1) %>
<br>
<br>

<%= yield %>

</body>
</html>
