<p id="notice"><%= notice %></p>

<div class="your-events">
  <h3>My Events</h3>
    <ol>
    <% @user_events.each do |event| %>
      <li>
        <%= event.name %>
        <%= event.date %>
      </li>
    <% end %>
  </ol>
</div>

<br>

<div class="profile-details">
  <h3>Profile Information</h3>
    <p>
      <strong>Firstname:</strong>
      <%= @person.firstname %>
    </p>

    <p>
      <strong>Lastname:</strong>
      <%= @person.lastname %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @person.email %>
    </p>
</div>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
